@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hideScroll {
    @apply  scrollbar-width: none -ms-overflow-style: none ;
  }
  .btn {
    @apply inline-flex items-center justify-center rounded-lg px-4 py-2 font-medium tracking-tight;
  }
  .btn-primary {
    @apply bg-black text-white;
  }
  .btn-text {
    @apply bg-transparent text-black;
  }

  .tag {
    @apply inline-flex rounded-lg border border-[#222222]/10 px-3 py-1 text-sm tracking-tight;
  }
  .tag-header {
    @apply inline-flex rounded-lg  px-3 py-1 text-sm bg-gray-100 tracking-tight;
  }
  .section-title {
    @apply text-center font-Corm text-3xl py-2 text-dark;
  }
  .section-description {
    @apply text-center max-w-xl justify-center text-[22px] leading-[30px] tracking-tight text-dark;
  }
  .section-heading {
    @apply font-Corm text-5xl pt-4 pb-8 text-dark uppercase;
  }
  .card {
    @apply w-full max-w-xs rounded-3xl border border-[#F1F1F1] p-10 shadow-[0_7px_14px_#EAEAEA];
  }
  .icon {
    @apply mx-auto h-16 scale-[2] text-orange
  }
  .icon-text {
    @apply text-center max-w-[300px] text-white pb-5
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: 0;
  }
}